extends layout

block layout-content
  button 
    b 
      a(href="/") Home
  h1#headingmenu 
    Here You have list of items with recipes..
  //we receive the movies variable in this file
  //- - console.log(restaurants);
  ul 
    each menu in menus 
      li.resdata
        #photo 
          img(src=`${menu.images[0]}`, alt="",width="200")
        #details
          h3 #{menu.menuname}
          p #{menu.description}
        